
    <header class="degradado"></header>
    <form action="#" class="formulario" autocomplete="off" novalidate>
        <div class="LogoFormulario">
            <img src="/public/logo_xbox.png" alt="logo_xbox" class="logo__imagen logo__imagen--pequenia">
            <h1 class="logo__titulo">GAME TIME</h1>
        </div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Ingrese su documento" required min="5" max="10" id="documento"></div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Ingrese su nombre" required min="3" max="60" id="nombre"></div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Ingrese su telefono" required min="10" max="10" id="telefono"></div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Ingrese su correo electronico" required min="6" max="100" id="correo"></div>
        <div class="contenedorCampo"><input type="password" class="formulario__campo" placeholder="Ingrese su contraseña" required min="8" max="30" id="contrasenia"></div>     
        <a href="#/Login" class="formulario__link">Ya tengo una cuenta</a>
        <button class="formulario__boton">Registrar</button>
    </form>
