<main class="contenido contenido--nuevoUsuario contenido--flex">
    <form action="#" class="formulario formulario--main" novalidate autocomplete="off">
        <!-- <div class="LogoFormulario ">
            <img src="../../../../public/logo_xbox.png" alt="logo_xbox" class="logo__imagen logo__imagen--pequenia">
            <h1 class="logo__titulo">GAME TIME</h1>
        </div> -->
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="documento" required id="documento" min="5"></div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="nombre" required id="nombre" min="3"></div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="telefono" required id="telefono" min="10" max="10"></div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="correo electronico" id="correo" required></div>
        <!-- <div class="contenedorCampo"><input type="password" class="formulario__campo" placeholder="contraseña" required id="contrasenia"></div> -->
        <div class="contenedorCampo">
            <select name="" id="id_rol" class="formulario__campo" required >
              <option value="0">Seleccione el Rol</option>
            </select>
        </div>
        <div class="contenedorCampo">
            <select name="" id="id_estado" class="formulario__campo" required>
                <option value="0">Seleccione el estado del usuario</option>
            </select>
        </div>
        <button class="boton">Actualizar</button>
    </form>
</main>