<main class="contenido contenido--flex">
    <div class="w-full h-full d-flex jusCont-center">
        <form action="#" class="formulario formulario--main" novalidate autocomplete="off">
            <div class="contenedorCampo contenedorCampo--imagen">
                <label class="formulario__insertarImagen" for="seleccionarImagen">
                    <i class="bi bi-card-image insertarImagen__icono" ></i>
                    <label for="seleccionarImagen">Haga click para insertar una imagen</label>
                </label>
            </div>
            <div class="contenedorCampo"><input type="file" class="formulario__campo formulario__campo--oculto" id="seleccionarImagen" accept="image/png" required name="archivo"></div>
            <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Nombre del producto" id="nombre" required min="3"></div>
            <div class="contenedorCampo"><textarea name="" class="formulario__campo formulario__campo--textArea" id="descripcion" placeholder="Ingrese una descripcion del producto..." required minlength="15"></textarea></div>
            <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Precio del prodcto" required id="precio" min="3" max="5"></div>
            <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Cantidades disponibles" required id="cantidades_disponibles" min="1"></div>
            <button class="boton">Guardar</button>
        </form>
      </div>
</main>