<main class="contenido contenido--flex">
    <form action="#" class="formulario formulario--main" novalidate autocomplete="off"> 
        <div class="logo">
            <img src="/public/logo_xbox.png" alt="logo_xbox" class="logo__imagen">
            <h1 class="logo__titulo">GAME TIME</h1>
        </div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Tipo de consola" id="tipo" required min="3" max="30"></div>
        <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Precio por hora" required id="precio_hora"  min="4" max="4"></div>
        <button class="boton">Guardar</button>
    </form>
</main>