<main class="contenido">
    <div class="botonesSuperiores">
        <a href="nueva_consola.html" class="contenido__Boton"><i class="bi bi-xbox"></i>Nueva Consola</a>
        <a href="tiposConsola.html" class="contenido__Boton"><i class="bi bi-joystick"></i>Tipos</a>
    </div>
    <div class="contenido__contenedor">
        <div class="cards  cards--consolas">
          <!-- <div class="card card--horizontal">
            <img src="/IMG/xbox360.png" alt="Margarita" class="card__imagen">
            <div class="cardInfo">
              <h3 class="card__nombre">Xbox 360</h3>
              <p class="card__descripcion card__descripcion--consola ">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices.</p>
              <h3 class="card__precio">$3.500</h3>
              <div class="card__botones">
                <a href="#" class="card__boton"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="card__boton"><i class="bi bi-trash-fill"></i></a>
              </div>
            </div>
          </div>             -->
        </div>
    </div>
</main>