<main class="contenido">
    <div class="contenido__contenedor contenido__contenedor--flex">
        <div class="factura factura--grande">
            <h1>Informacion de Cobro</h1>
            <div class="factura__info factura__info--grande">
                <table class="tabla">
                    <thead class="tabla__encabezado">
                        <tr>
                            <th>Cobro</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody class="tabla__cuerpofac">
                        <tr class="tabla__fila">
                            <td class="tabla__campo tabla__campo--bordeVerde">Consola</td>
                            <td class="tabla__campo tabla__campo--bordeVerde" id="pago_consola"></td>
                        </tr>
                        <tr class="tabla__fila">
                            <td class="tabla__campo tabla__campo--bordeVerde">Consumo</td>
                            <td class="tabla__campo tabla__campo--bordeVerde" id="pago_consumo"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h1 id="total">$ ---</h1>
    </div>
</main>