.formulario{
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.9) ;
    /* margin: 80px auto; */
    width: var(--ancho_formulario);
    height: 80%;
    align-items: center;
    justify-content:center;
    border-radius: var(--border_radius);
    /* color: white; */
    border: solid 2px var(--borde_verde);
}

.formulario--main{
  width: var(--ancho_formulario_main);
  margin: 0;
  height: 100%;
  background-color: rgb(33, 33, 33) ;
}

.formulario__label{
  font-weight: 700;
  color: var(--texto_blanco);
}

.formulario__campo{
    width: 80%;
    text-align: center;
    height: 6vh;
    margin: 10px;
    background-color: var(--fondo_gris_claro);
    border-style: none;
    border-radius: 10px;
    color: var(--texto_gris_oscuro);
    font-size: 16px;
    outline: none;
    font-weight: 700;
    padding: 0 2%;
}

.formulario__campo--oculto{
  display: none;
}

.formulario__campo--textArea{
  resize: none;
  font-size: 12px;
  text-align: start;
  height: 10vh;
}

.formulario__insertarImagen{
  text-align: center;
  width: 40%;
  font-size: 1vw;
  height: 100%;
  border: dashed 2px var(--borde_verde);
  border-radius: var(--border_radius_pequeno);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--texto_verde);
  padding-bottom: 5px;
}

.insertarImagen__icono{
  font-size: 4vw;
}

.formulario__insertarImagen:hover{
  cursor: pointer;
}

.formulario__campo--verde{
  justify-content: center;
  align-content: center;
  background-color: var(--fondo_verde);
}

.formulario__link{
    color: var(--texto_verde);
    font-size: 12px;
    margin-bottom: 20px;
}

@media(max-width:900px){
  .formulario{
    width: 90%;
  }

  .formulario__insertarImagen{
    font-size: 11px;
  }
}