<label for="checSidebar" class="menuHamburguesa"><i class="bi bi-list"></i></label>


<div class="logoEncabezado">
    <h2 class="logoEncabezado__texto">Game Time</h2>
    <img src="../../public/logo_xbox.png" alt="logo_xbox" class="logoEncabezado__imagen">
</div>
<label class="encabezadoPerfil" for="mnu_salir">
    <h2 class="encabezadoPerfil__nombre"></h2>
    <i class="bi bi-person-fill encabezadoPerfil__icono"></i>
</label>
<input type="checkbox" class="displayNone" id="mnu_salir">
<div class="menuOculto">
    <div>
        <h4 class="nameMenuSalir"></h4>
    </div>
    <div>
        <button class="btnSalir"><i class="bi bi-box-arrow-left"></i> Salir</button>
    </div>
</div>