<div class="sidebar__boton botonSidebar">
    <i class="bi bi-calendar-event-fill botonSidebar__icono"></i>
    <a href="#/Reservas" class="botonSidebar__texto">Reservas</a>
</div>
<div class="sidebar__boton botonSidebar">
    <i class="bi bi-cookie botonSidebar__icono"></i>
    <a href="#/Productos" class="botonSidebar__texto">Productos</a>
</div>
<div class="sidebar__boton botonSidebar">
    <i class="bi bi-controller botonSidebar__icono"></i>
    <a href="#/Consolas" class="botonSidebar__texto">Consolas</a>
</div>
<div class="sidebar__boton botonSidebar usarios">
    <i class="bi bi-people-fill botonSidebar__icono"></i>
    <a href="#/Usuarios" class="botonSidebar__texto">Usuarios</a>
</div>
<div class="sidebar__boton botonSidebar historial">
    <i class="bi bi-clock botonSidebar__icono"></i>
    <a href="#/Historial" class="botonSidebar__texto">Historial</a>
</div>