.tabla{
  color: var(--texto_blanco);
  width: 100%;
  border-spacing: 0 10px;
  padding: 2%;
  border-radius: var(--border_radius_pequeno);
}

.tabla__encabezado{
  color: var(--texto_verde);
}

.tabla__fila{
  transition: background-color 0.3s;
}

.tabla__fila--blanco{
  background-color:#ffffff75;
  transition: 0.3s;
}

.tabla__fila--verde{
  background-color:#4cd42e75;
  transition: 0.3s;

}

.tabla__fila--rojo{
  background-color:#d42e2e75;
  transition: 0.3s;
}

.tabla__campo{
  text-align: center;
  justify-items: center;
  padding:2vh 0;
}

.tabla__campo--bordeVerde{
  border: solid 1px var(--borde_verde);
}
.tabla__campo--bordeRojo{
  border: solid 1px var(--borde_rojo);
}

.tabla__campo:first-child{
  border-radius: var(--border_radius_pequeno) 0 0 var(--border_radius_pequeno);
}

.tabla__campo:last-child{
  border-radius: 0 var(--border_radius_pequeno) var(--border_radius_pequeno) 0;
}