<main class="contenido">
      <div class="botonesSuperiores">
        <a href="nueva_reserva.html" class="contenido__Boton"><i class="bi bi-calendar-event-fill"></i>Nueva Reserva</a>
        <div class="botonesSuperiores__buscar">
          <i class="bi bi-search buscar__icono"></i>
          <input type="text" class="buscar__input" placeholder="Buscar reserva por documento">
        </div>
        <div class="infoEstadoReserva">
          <div class="infoEstado"><h3>Pendiente</h3></div>
          <div class="infoEstado infoEstado--enProceso"><h3>En Proceso</h3></div>
          <div class="infoEstado infoEstado--terminado"><h3>Terminado</h3></div>
        </div>
      </div>
      <div class="contenido__contenedor">
        <!-- <table class="tabla">
          <thead class="tabla__encabezado">
            <tr>
              <th>Fecha</th>
              <th>Documento</th>
              <th>Usuario</th>
              <th>Hora Inicio</th>
              <th>Hora Fin</th>
              <th>Horas</th>
              <th>Consola</th>
            </tr>
          </thead>
          <tbody  class="tabla__cuerpo">
            <tr class="tabla__fila--verde">
              <td class="tabla__campo"> 04-05-2025</td>
              <td class="tabla__campo">1123965872</td>
              <td class="tabla__campo">Brayan</td>
              <td class="tabla__campo">7:00 am</td>
              <td class="tabla__campo">8:00 am</td>
              <td class="tabla__campo">1</td>
              <td class="tabla__campo">Xbox 360</td>
              <td class="tabla__campo">
                <a href="info_reserva.html" class="registro__boton"><i class="bi bi-info-circle"></i></a>
              </td>
            </tr>
            <tr class="tabla__fila--blanco">
              <td class="tabla__campo tabla__campo--bordeRed"> 04-05-2025</td>
              <td class="tabla__campo tabla__campo--bordeRed">1123965872</td>
              <td class="tabla__campo tabla__campo--bordeRed">Brayan</td>
              <td class="tabla__campo tabla__campo--bordeRed">7:00 am</td>
              <td class="tabla__campo tabla__campo--bordeRed">8:00 am</td>
              <td class="tabla__campo tabla__campo--bordeRed">1</td>
              <td class="tabla__campo tabla__campo--bordeRed">Xbox 360</td>
              <td class="tabla__campo tabla__campo--bordeRed">
                <a href="info_reserva.html" class="registro__boton"><i class="bi bi-info-circle"></i></a>
              </td>
            </tr>
            <tr class="tabla__fila--rojo">
              <td class="tabla__campo tabla__campo--bordeBlanco"> 04-05-2025</td>
              <td class="tabla__campo tabla__campo--bordeBlanco">1123965872</td>
              <td class="tabla__campo tabla__campo--bordeBlanco">Brayan</td>
              <td class="tabla__campo tabla__campo--bordeBlanco">7:00 am</td>
              <td class="tabla__campo tabla__campo--bordeBlanco">8:00 am</td>
              <td class="tabla__campo tabla__campo--bordeBlanco">1</td>
              <td class="tabla__campo tabla__campo--bordeBlanco">Xbox 360</td>
              <td class="tabla__campo tabla__campo--bordeBlanco">
                <a href="info_reserva.html" class="registro__boton"><i class="bi bi-info-circle"></i></a>
              </td>
            </tr>

          </tbody>
        </table> -->
      </div>
    </main>