@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./components/formulario.css');
@import url('./components/boton.css');
@import url('./components/logo.css');
@import url('./components/tabla.css');
@import url('./components/card.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}


:root{
  /* Colores base */
  --verde: #4DD42E;
  --blanco: white;
  --gris_oscuro: #212121;
  --gris_claro: #CACACA;
  --negro: #000;
  --rojo: red;

  --fondo_verde: var(--verde);
  --texto_verde: var(--verde);
  --borde_verde: var(--verde);
  --degradado_verde: var(--verde);

  --fondo_blanco: var(--blanco);
  --texto_blanco: var(--blanco);
  --borde_blanco: var(--blanco);

  --fondo_gris_oscuro: var(--gris_oscuro);
  --texto_gris_oscuro: var(--gris_oscuro);
  --fondo_gris_claro: var(--gris_claro);

  --texto_rojo: var(--rojo);
  --fondo_rojo: var(--rojo);
  --borde_rojo: var(--rojo);


  --fuente_principal: "Exo 2", sans-serif;


  --ancho_formulario: 400px;
  --ancho_formulario_main: 450px;
  --border_radius: 30px;
  --border_radius_pequeno: 15px;

  --sombra_suave: 0px 0px 50px 2px var(--degradado_verde);
}

/*-------------------------------INICIO DE SESION----------------------------------*/

.grid-container{
  display: grid;
  grid-template-areas:
    "app";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  background-image: url(/public/img_fondo_login_1.png);
}

.layout {
  display: grid;
  grid-template-areas:
    "encabezado encabezado"
    "sidebar app";
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 90%;
  height: 100vh;
}

.encabezado{
  width: 100%;
  height: 100%;
  background-color: var(--fondo_gris_oscuro);
  grid-area: encabezado;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  color: var(--texto_blanco);
}

.sidebar{
  background-color: var(--fondo_gris_oscuro);
  width: 100%;
  height: 100%;
  grid-area: sidebar;
  border-top: solid 1px var(--borde_blanco);
  padding-top: 5%;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  grid-area: app;
  /* background-color: red; */
}

.contenido{
  width: 100%;
  height: 100%;
  padding: 2%;
}

button{
  border: none;
}

button i {
  pointer-events: none;
}

.degradado{
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 1px;
    background-color: var(--fondo_verde);
    box-shadow: 0px 0px 50px 40px var(--degradado_verde);
    top: 0;
}
.contenedorCampo{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__Contador{
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.btnSumarRestar{
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--fondo_verde);
  color: var(--texto_blanco);
  border-radius: 8px;
  text-align: center;
}

.contenedorCampo--imagen{
  height: 20%;
}

.contenedorCampo--displayFlex{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

span{
  color: var(--texto_rojo);
  font-size: 12px;
  text-align: center;
}

.MensajeTabla{
  font-size: 20px;
  color:var(--texto_verde);
  font-weight: 700;
  display: block;
  align-self: center;
  height: 100%;
  align-content: center;
}


.contenido--flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoEncabezado{
  display: flex;
  height: 100%;
  align-items: center;
}

.logoEncabezado__imagen{
  height: 50%;
  width: auto;
  margin: 0 1vw;
}

.encabezadoPerfil{
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}
.encabezadoPerfil:hover{
  cursor: pointer;
}

.encabezadoPerfil__icono{
  background-color: var(--fondo_blanco);
  color: var(--verde);
  align-content: center;
  width: 45px;
  height: 45px;
  font-size: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------- SIDEBAR ------------------*/
.sidebar__boton{
  display: flex;
  width: 100%;
  /* background-color: red; */
  height: 7%;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-left: 15%;
}

.botonSidebar__icono{
  font-size: 1.2vw;
  margin-right: 8%;
  color: var(--verde);
}

.botonSidebar__texto{
  display: block;
  font-family: var(--fuente_principal);
  text-decoration: none;
  color: var(--texto_blanco);
  font-size: 1.2vw;
  font-weight: 700;
}

/*------------------------------ RESERVAS --------------------------*/

.botonesSuperiores{
  display: flex;
  height: 7%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.botonesSuperiores__buscar{
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.buscar__input{
  width: 80%;
  height: 35px;
  border: none;
  background-color: rgba(33, 33, 33, 0.9);
  border-bottom: solid 1px var(--borde_verde);
  border-top: solid 1px var(--borde_verde);
  border-right: solid 1px var(--borde_verde);
  border-radius: 0 var(--border_radius_pequeno) var(--border_radius_pequeno) 0;
  outline: none;
  color: var(--texto_blanco);
}

.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

.d-flex{
  display: flex;
}

.jusCont-center{
  justify-content: center;
}

.buscar__input::placeholder{
  color: rgba(255, 255, 255, 0.589);
  
}

.buscar__icono{
  display: flex;
  background-color: rgba(33, 33, 33, 0.9);
  color: var(--blanco);
  /* font-family: 15px; */
  height: 35px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--borde_verde);
  border-top: solid 1px var(--borde_verde);
  border-left: solid 1px var(--borde_verde);
  border-radius: var(--border_radius_pequeno) 0 0 var(--border_radius_pequeno);
}

.infoEstadoReserva{
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.infoEstado{
  display: flex;
  background-color: var(--fondo_blanco);
  height: 3vw;
  color: black;
  justify-content: center;
  align-items: center;
  width: 7.5vw;
  border-radius: var(--border_radius_pequeno);
  font-size: 1.042vw;
}

.infoEstado--enProceso{
  background-color: var(--fondo_verde);
}

.infoEstado--terminado{
  background-color: var(--fondo_rojo);
}


.contenido__contenedor{
  width: 100%;
  height: 90%;
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 40px;
  padding: 2%;
  margin-top: 17px;
  overflow-y: scroll;
}

.contenido__contenedor--flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar{
  display: none;
}

/*------------------------------------ CARDS ------------------------------------*/
.cards{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill,285px);
  gap: 15px;
  justify-content: center;
}

.cards--consolas{
  grid-template-columns: repeat(auto-fill,350px);
}
/*------------------------ NUEVA RESERVA -----------------*/

.calendariOculto{
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: black;
  color:var(--texto_blanco);
  border: 2px solid var(--borde_verde);
  border-radius: var(--border_radius_pequeno);
  padding: 20px;
  overflow: auto;
  z-index: 1000;
}

.fondoOscuro{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.747);
  top: 0;
  left: 0;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    background-color: var(--fondo_verde);
    border: none;
    color: var(--texto_blanco);
}

.fc .fc-timegrid-slot-minor{
  border: none;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child){
  background-color: #348622;
  border: none;
  outline: none;
}

.fc-icon-chevron-right::before{
  color: var(--blanco);
}

.fc-icon-chevron-left::before{
  color: var(--blanco);
}

/* .botonCerrarCalendario{
  background-color: var(--fondo_rojo);
  margin-bottom: 3px;
  width: 88px;
  height: 38px;
  border-radius: 5px;
  color: var(--texto_blanco);
  font-weight: 800;
  font-size: 15px;
  transition: 0.3s;
} */

.botonCerrarCalendario:hover{
  cursor: pointer;
  font-size: 20px;
}
.contenedorFormularioModal,
.contenedorModal{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.747);
  top: 0;
  left: 0;
}


#hora_inicio,
#hora_finalizacion{
  cursor: not-allowed;
}

.displayBlock{
  display: block;
}

.displayFlex{
  display: flex;
}

.displayNone{
  display: none;
}

/*---------------------- INFORMACION DE LA RESERVA---------------------------------*/
.contenido__contenedor--grande{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80% 20%;
  grid-template-areas: "info_reservas productos_reserva"
                      "info_reservas boton_regresar";
 }

 .infoReserva{
  width: 100%;
  height: 40%;
  border: solid 1px var(--borde_verde);
  border-radius: 25px;
  display: flex;
  grid-area: info_reservas;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  color: var(--texto_blanco);
  font-size: 1.7vw;
  font-weight: 700;
  align-self: center;
 }

 
 .infoReserva__texto{
   color: var(--texto_verde);
  }
  
  .horaInicioFin{
  font-size: 1vw;
   color: var(--texto_blanco);
  }

 .productosReserva{
  grid-area: productos_reserva;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rebeccapurple; */
  padding: 5%;
  overflow-y:scroll;
 }
 .contenedorTabla{
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  border: solid 1px var(--borde_verde);
  border-radius: var(--border_radius_pequeno);
 }


 /* .botonRegresar{
  grid-area: boton_regresar;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
 } */

 .contenedorBotonesTabla{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 5%;
 }
 /* .registro__boton--eliminar{
  background-color: red;
  margin: 0;
 } */

 /* .registro__boton--editar{
  margin: 0;
 } */

 /*------------------------------- FACTURA ------------------*/
 .factura{
  width: 40%;
  height: 80%;
  border: solid 3px var(--borde_verde);
  background-color: var(--fondo_gris_oscuro);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--texto_verde);
  flex-direction: column;
  gap: 10px;
}

.factura--grande{
  height: 90%;
}

.factura__info{
  width: 80%;
  height: 35%;
  border: solid 3px var(--borde_verde);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  gap: 5%;
  overflow-y: scroll;
}

.factura__info--grande{
  height: 50%;
}


.border--red{
  border: solid 2px var(--borde_rojo);

}

.border--punteado--red{
  border: dashed 2px var(--borde_rojo);
}

.span--verde{
  color: var(--texto_verde);
}

.boton-deshabilitado{
  cursor: not-allowed;
  background-color: #388128;
  color: rgb(82, 79, 79)
}

.menuOculto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 23%;
  height: 20%;
  position: fixed;
  z-index: 9;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.63);
  right: 0;
  font-size: 1.5vw;
  color: var(--texto_blanco);
  border-radius: 0 var(--border_radius_pequeno);
  right: -30vw;
  transition: 0.3s;
}

.menuOculto div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gris_oscuro);
  height: 40%;
  width: 100%;
  border-radius: 10px;
}

.menuOculto div button{
  background-color: var(--fondo_gris_oscuro);
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: var(--texto_rojo);
  font-size: 1.5vw;
  font-weight: 600;
  transition: 0.3s;
}

.menuOculto div button:hover{
  font-size: 1.6vw;
}

#mnu_salir:checked +.menuOculto{
  right: 0;
}

.radiobuton:checked +label a.botonSidebar__texto{
  color: var(--texto_verde);
}



/*------------------- HISTORIAL --------------------*/

.contenedorFiltros{
  display: flex;
  background-color: var(--fondo_verde);
  color: var(--texto_blanco);
  font-weight: 700;
  height: 100%;
  width: 35%;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5vw;
  border-radius: var(--border_radius_pequeno);
}

.select_filtro{
  outline: none;
  width: 75%;
  height: 80%;
  text-align: center;
  background-color: var(--fondo_gris_claro);
  border-radius: var(--border_radius_pequeno);
}

.totalHist{
  display: flex;
  width: 20%;
  height: 100%;
  background-color: var(--fondo_verde);
  color: var(--texto_blanco);
  font-size: 1.5vw;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: var(--border_radius_pequeno);
}

.menuHamburguesa{
  display: none;
}



@media(max-width:900px){
  .layout {
    grid-template-areas:
      "encabezado"
      "app";
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }

  .tabla{
    min-width: 1000px;
  }

  .logoEncabezado__texto{
    display: none;
  }

  .encabezadoPerfil__nombre{
    display: none;
  }

  .menuHamburguesa{
    display: flex;
    font-size: 35px;
    cursor: pointer;
  }

  .sidebar{
    position: fixed;
    z-index: 900;
    width: 45%;
    height: 90%;
    top: 10%;
    left: -20000px;
    transition: 0.3s;
  }

  .left-0{
    transition: 0.3s;
    left: 0;
  }

  .botonSidebar__texto,
  .botonSidebar__icono{
    font-size: 15px;
  }

  .infoEstadoReserva{
    display: none;
  }

  .botonesSuperiores__buscar{
    width: 60%;
  }

  .menuOculto{
    width: 50%;
    height: 15%;
    right: -5000px;
  }

  .menuOculto div,
  .menuOculto div button{
    font-size: 11px;
  }

  .menuOculto div button:hover{
    font-size: 12px;
  }

  /***** INFO DE LA RESERVA *****/

  .contenido__contenedor--grande{
    margin: 0;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas:"info_reservas"
                        "productos_reserva"
                        "boton_regresar";
  }

  .infoReserva{
    border-radius: var(--border_radius_pequeno);
    height: 90%;
  }

  .infoReserva__texto{
    font-size: 15px;
  }

  .factura{
    width: 90%;
  }

  /*** HISTORIAL ***/

  .contenedorFiltros{
    width: 60%;
    font-size: 11px;
  }

  .totalHist{
    width: 30%;
    font-size: 11px;
  }
}