@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./components/formulario.css');
@import url('./components/boton.css');
@import url('./components/logo.css');
@import url('./components/tabla.css');
@import url('./components/card.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

/*-------------------------------INICIO DE SESION----------------------------------*/

.grid-container{
  display: grid;
  grid-template-areas:
    "app";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  background-image: url(/public/img_fondo_login_1.png);
}

.layout {
  display: grid;
  grid-template-areas:
    "encabezado encabezado"
    "sidebar app";
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 90%;
  height: 100vh;
}

.encabezado{
  width: 100%;
  height: 100%;
  background-color: #212121;
  grid-area: encabezado;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  color: white;
}

.sidebar{
  background-color: #212121;
  width: 100%;
  height: 100%;
  grid-area: sidebar;
  border-top: solid 1px white;
  padding-top: 5%;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  grid-area: app;
  /* background-color: red; */
}

.contenido{
  width: 100%;
  height: 100%;
  padding: 2%;
}

button{
  border: none;
}

button i {
  pointer-events: none;
}

.degradado{
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 1px;
    background-color: #4DD42E;
    box-shadow: 0px 0px 50px 40px #4DD42E;
    top: 0;
}
.contenedorCampo{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__Contador{
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.btnSumarRestar{
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  background-color: #4DD42E;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.contenedorCampo--imagen{
  height: 20%;
}

.contenedorCampo--displayFlex{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

span{
  color: red;
  font-size: 12px;
  text-align: center;
}

.MensajeTabla{
  font-size: 20px;
  color: #4DD42E;
  font-weight: 700;
  display: block;
  align-self: center;
  height: 100%;
  align-content: center;
}


.contenido--flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoEncabezado{
  display: flex;
  height: 100%;
  align-items: center;
}

.logoEncabezado__imagen{
  height: 50%;
  width: auto;
  margin: 0 1vw;
}

.encabezadoPerfil{
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}
.encabezadoPerfil:hover{
  cursor: pointer;
}

.encabezadoPerfil__icono{
  background-color: white;
  color: #4DD42E;
  align-content: center;
  width: 45px;
  height: 45px;
  font-size: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------- SIDEBAR ------------------*/
.sidebar__boton{
  display: flex;
  width: 100%;
  /* background-color: red; */
  height: 7%;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-left: 15%;
}

.botonSidebar__icono{
  font-size: 1.2vw;
  margin-right: 8%;
  color: #4DD42E;
}

.botonSidebar__texto{
  display: block;
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 700;
}

/*------------------------------ RESERVAS --------------------------*/

.botonesSuperiores{
  display: flex;
  height: 7%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.botonesSuperiores__buscar{
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.buscar__input{
  width: 80%;
  height: 35px;
  border: none;
  background-color: rgba(33, 33, 33, 0.9);
  border-bottom: solid 1px #4DD42E;
  border-top: solid 1px #4DD42E;
  border-right: solid 1px #4DD42E;
  border-radius: 0 15px 15px 0;
  outline: none;
  color: white;
}

.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

.d-flex{
  display: flex;
}

.jusCont-center{
  justify-content: center;
}

.buscar__input::placeholder{
  color: rgba(255, 255, 255, 0.589);
  
}

.buscar__icono{
  display: flex;
  background-color: rgba(33, 33, 33, 0.9);
  color: white;
  font-family: 15px;
  height: 35px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #4DD42E;
  border-top: solid 1px #4DD42E;
  border-left: solid 1px #4DD42E;
  border-radius: 15px 0 0 15px;
}

.infoEstadoReserva{
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.infoEstado{
  display: flex;
  background-color: white;
  height: 3vw;
  color: black;
  justify-content: center;
  align-items: center;
  width: 7.5vw;
  border-radius: 15px;
  font-size: 1.042vw;
}

.infoEstado--enProceso{
  background-color: #4DD42E;
}

.infoEstado--terminado{
  background-color: red;
}


.contenido__contenedor{
  width: 100%;
  height: 90%;
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 40px;
  padding: 2%;
  margin-top: 17px;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  display: none;
}

/*------------------------------------ CARDS ------------------------------------*/
.cards{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill,285px);
  gap: 15px;
  justify-content: center;
}

.cards--consolas{
  grid-template-columns: repeat(auto-fill,350px);
}
/*------------------------ NUEVA RESERVA -----------------*/

.calendariOculto{
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: black;
  color: white;
  border: 2px solid #4DD42E;
  border-radius: 15px;
  padding: 20px;
  overflow: auto;
  z-index: 1000;
}

.fondoOscuro{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.747);
  top: 0;
  left: 0;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    background-color: #4DD42E;
    border: none;
    color: white;
}

.fc .fc-timegrid-slot-minor{
  border: none;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child){
  background-color: #348622;
  border: none;
  outline: none;
}

.fc-icon-chevron-right::before{
  color: white;
}

.fc-icon-chevron-left::before{
  color: white;
}

.botonCerrarCalendario{
  background-color: red;
  margin-bottom: 3px;
  width: 88px;
  height: 38px;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-size: 15px;
  transition: 0.3s;
}

.botonCerrarCalendario:hover{
  cursor: pointer;
  font-size: 20px;
}
.contenedorFormularioModal,
.contenedorModal{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.747);
  top: 0;
  left: 0;
}


#hora_inicio,
#hora_finalizacion{
  cursor: not-allowed;
}

.displayBlock{
  display: block;
}

.displayFlex{
  display: flex;
}

.displayNone{
  display: none;
}

/*---------------------- INFORMACION DE LA RESERVA---------------------------------*/
.contenido__contenedor--grande{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80% 20%;
  grid-template-areas: "info_reservas productos_reserva"
                      "info_reservas boton_regresar";
 }

 .infoReserva{
  width: 100%;
  height: 40%;
  border: solid 1px #4DD42E;
  border-radius: 25px;
  display: flex;
  grid-area: info_reservas;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  color: white;
  font-size: 1.7vw;
  font-weight: 700;
  align-self: center;
 }

 
 .infoReserva__texto{
   color: #4DD42E;
  }
  
  .horaInicioFin{
  font-size: 1vw;
   color: white;
  }

 .productosReserva{
  grid-area: productos_reserva;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rebeccapurple; */
  padding: 5%;
  overflow-y:scroll;
 }
 .contenedorTabla{
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  border: solid 1px #4DD42E;
  border-radius: 15px;
 }

 .boton__tabla{
  background-color: #4DD42E;
  width: 12vw;
  border: none;
  min-height: 4.5vh;
  margin: 7px;
  border-radius: 15px;
  color: white;
  font-size: 0.9vw;
  font-weight: 600;
  text-align: center;
  align-content: center;
  text-decoration: none;
  cursor: pointer;
 }

 .botonRegresar{
  grid-area: boton_regresar;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
 }

 .contenedorBotonesTabla{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 5%;
 }
 .registro__boton--eliminar{
  background-color: red;
  margin: 0;
 }

 .registro__boton--editar{
  margin: 0;
 }

 /*------------------------------- FACTURA ------------------*/
 .factura{
  width: 40%;
  height: 80%;
  border: solid 3px #4DD42E;
  background-color: #212121;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4DD42E;
  flex-direction: column;
  gap: 10px;
}

.factura__info{
  width: 80%;
  height: 35%;
  border: solid 3px #4DD42E;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  gap: 5%;
  overflow-y: scroll;
}

.border--red{
  border: solid 2px red;

}

.border--punteado--red{
  border: dashed 2px red;
}

.span--verde{
  color: #4DD42E;
}

.boton-deshabilitado{
  cursor: not-allowed;
  background-color: #388128;
  color: rgb(82, 79, 79)
}

.menuOculto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 23%;
  height: 20%;
  position: fixed;
  z-index: 9;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.63);
  right: 0;
  font-size: 1.5vw;
  color: white;
  border-radius: 0 15px;
  right: -30vw;
  transition: 0.3s;
}

.menuOculto div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 40%;
  width: 100%;
  border-radius: 10px;
}

.menuOculto div button{
  background-color: #212121;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: red;
  font-size: 1.5vw;
  font-weight: 600;
  transition: 0.3s;
}

.menuOculto div button:hover{
  font-size: 1.6vw;
}

#mnu_salir:checked +.menuOculto{
  right: 0;
}

.radiobuton:checked +label a.botonSidebar__texto{
  color: #4DD42E;
}



/*------------------- HISTORIAL --------------------*/

.contenedorFiltros{
  display: flex;
  background-color: #4DD42E;
  color: white;
  font-weight: 700;
  height: 100%;
  width: 35%;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5vw;
  border-radius: 15px;
}

.select_filtro{
  outline: none;
  width: 75%;
  height: 80%;
  text-align: center;
  background-color: #CACACA;
  border-radius: 15px;
}

.totalHist{
  display: flex;
  width: 20%;
  height: 100%;
  background-color: #4DD42E;
  color: white;
  font-size: 1.5vw;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

