
    <header class="degradado"></header>
        <form action="#" class="formulario" novalidate autocomplete="off">
            <div class="LogoFormulario">
                <img src="/public/logo_xbox.png" alt="logo_xbox" class="logo__imagen">
                <h1 class="logo__titulo">GAME TIME</h1>
            </div>
            <div class="contenedorCampo"><input type="text" class="formulario__campo" placeholder="Ingrese su correo electronico" required min="3" id="correo"></div>
            <div class="contenedorCampo"><input type="password" class="formulario__campo" placeholder="Ingrese su contraseña" required min="8" id="contrasenia"></div>         
            <a href="#" class="formulario__link">¿olvido su contraseña?</a>
            <button class="formulario__boton" >Ingresar</button>
            <a class="formulario__boton" href="#/Registro">Registrarse</a>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- <script type="module" src="./JS/iniciarSesion.js"></script> -->
